<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendencemonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendenceMonitor">
        <activity android:name=".activity.admin.user.StudentModuleStatisticActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.module.timeslot.detail.TimeslotDetailActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.module.classlist.detail.StudentDetailActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.qr.ScannerActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.module.timeslot.TimeslotFormActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.teacher.TeacherHomeActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.SessionActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.student.StudentHomeActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.admin.AdminHomeActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.auth.RegisterActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.auth.LoginActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.module.ModuleFormActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.module.ModuleListActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.module.detail.ModuleDetailActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.user.UserSearchActivity"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>